/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Base Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
img {
  width: 100%;
}

header {
    height: 100px;
    background: white;
}

h1, h3, h4 {
  font-family: 'Barlow Condensed', sans-serif;
}

h1 {
  text-align: center;
}

p {
  font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

a:hover,
a:focus,
a:active {
    opacity: 0.9;
    color: #D3D3D3;
    text-decoration: none;
}

label {
    font-family: 'Roboto', sans-serif;
}

button {
    font-family: 'Roboto', sans-serif;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 0px;
    padding: 6px;
}

button:hover {
    background: #D3D3D3;
    color: white;
}

footer {
    height: 150px;
    background: gray;
}


.description-container {
  text-align: center;
  padding-top: 20px;
}


/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Header Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* Desktop Nav  */


.desktop-nav ul {
    float: right;
    margin-top: 10px;
    width: calc(100% - 60px);
    text-align: right;
}

.desktop-nav li {
    display: inline-block;
    margin-left: 50px;

}


.desktop-nav  {
    padding-top: 30px;
}


/* Mobile  */
 .mobile-nav {
    display: none;
}

.topnav {
    background-color: white;
    overflow: hidden;
}

.fa-circle-o {
  margin: 10px;
}

.topnav a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.mobile-nav a:hover {
    color: #D3D3D3;
}


@media (max-width: 990px) {
    header {
      height: 150px;
    }
    .mobile-nav {
      display: block;
    }

    .desktop-nav {
      display: none;
    }
}



/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Hero Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
.carousel-inner img {
  height: 30%;
  width: 100%;
}

/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Body Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
.body {
    height: 700px;
    background: white;
}

.new-arrivals {
  height: 250px;
  background-image: url('../img/newarrivals.jpg');
  margin-top: 30px;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 7spx solid #BAF1F3;
  text-align: right;
  padding-top: 150px;
}

.blog-title {
  text-align: center;
}

.card {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
    header .col {
      display: block;
    }
}


/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Footer Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */

.newsletter {
  padding-top: 30px;
}

.social-media-icons {
  padding-top: 30px;
  text-align: right;
}

.social-media-icons button {
  border: none;
}

.social-media-icons button:hover {
  background: transparent;
  color: black;
}

.social-media-icons p {
  text-align: right;
  padding-right: 26px;
}

@media (max-width:768px) {
    .newsletter {
      display: none;
    }
}


/* * * * * * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * *
                                  About Us
* * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** **/

.image-container img {
  padding-top: 30px;
  padding-bottom: 30px;
  height: 20%;
  width: 100%;
}

.about-card {
  padding-bottom: 30px;
}

/* * * * * * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * *
                                Contact Us
* * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** **/
.form {
  display: block;
}

.submit input {
  background: transparent;
  border: 1px solid black;
}

/* * * * * * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * *
                                Shop Now
* * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** * ** **/
.items-title a {
  text-transform: lowercase;
}

@media (max-width: 768px) {
  .items {
    display: block;
  }
}
