/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Base Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
img {
  width: 100%;
}

header {
    height: 100px;
    background: white;
}

a {
    font-family: 'Roboto', sans-serif;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}


/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Header Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
.desktop-nav ul {
    float: right;
    margin-top: 10px;
    width: calc(100% - 60px);
    text-align: right;
}

.desktop-nav li {
    display: inline-block;
    margin-left: 50px;

}


.desktop-nav .logo {
    padding-top: 30px;
}


.desktop-nav a:hover,
.desktop-nav a:focus,
.desktop-nav a:active {
    opacity: 0.9;
    color: gray;
    text-decoration: none;
}



/* Mobile  */
 .mobile-nav {
    display: none;
    text-align: center;
}

.mobile-nav .logo {
    display: inline-block;
}

.mobile-nav .hamburger-container,
.mobile-nav .search-container {
    vertical-align: top;
    margin-top: 8px;
    width: 40px;
    display: inline-block;
    margin-left: -4px;
}

.mobile-nav .logo-container {
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 80px);
}

.mobile-nav button {
    background: transparent;
    border: none;
    color: black;
}

@media (max-width: 768px) {
    .mobile-nav {
      display: block;
    }

    .desktop-nav {
      display: none;
    }
}


/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Hero Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
.carousel-inner img {
  height: 30%;
  width: 100%;
}

/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Body Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
.body {
    height: 700px;
    background: white;
}

.new-arrivals {
  height: 250px;
  background-image: url('../img/newarrivals.jpg');
  margin-top: 30px;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid #BAF1F3;
  text-align: center;
  padding-top: 150px;
}

button {
    background: transparent;
    color: black;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 0px;
    padding: 6px;
}

button:hover {
    background: #BAF1F3;
    color: white;
}

.blog-title {
  text-align: center;
}

.card {
  margin-bottom: 30px;
}

/* @media (max-width: 768px) {
    header .col {
      display: block;
    }
} */


/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Footer Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */

footer {
    height: 200px;
    background: gray;
}

.form-newsletter {
  display: inline-block;
}
