/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Base Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
/* light blue = #9fe7ff or BAF1F3; */
/* light purple = #ac9fff */
/* light green = #9fffb7 */

img {
  width: 100%;
}

button {
    font-family: 'Merriweather', serif;
    background: transparent;
    color: black;
    border: 1px solid white;
    padding: 6px;
}

button:hover {
    background: #9fe7ff;
    color: white;
}


/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Header Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
header {
    height: 100px;
    background: white;
}


header ul {
    float: right;
    padding-top: 50px;
}

header li {
    display: inline-block;
    padding-left: 30px;
}

header a {
    color: #9fe7ff;
}

.desktop-nav .logo {
    float: left;
    padding-top: 30px;
}



/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Hero Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
.carousel-inner img {
    height: 30%;
    width: 100%;
}

.carousel-caption {
    margin-bottom: 50px;
}


/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Body Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */
.body {
    height: 700px;
    background: white;
}

.new-arrivals {
  height: 250px;
  background-image: url('../img/newarrivals.jpg');
  margin-top: 30px;
  margin-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #9fe7ff;
  text-align: center;
  padding-top: 150px;
}


.blog-title {
  text-align: center;
}

.card {
  margin-bottom: 30px;
}

.card-title a {
    color: #BAF1F3;
}

/* @media (max-width: 768px) {
    header .col {
      display: block;
    }
} */


/* * ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** **
                                Footer Styles
* ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** ** */

footer {
    height: 200px;
    background: gray;
}

.form-newsletter {
  display: inline-block;
}
